<div class="modal-header">
  <h5 class="modal-title">
    <i class="fas fa-info-circle"></i>
    Xóa {{ objName }}
  </h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <div>
    <h5 style="color: red">
      Bạn có chắc chắn muốn xóa <b>{{ dsObj.length }}</b> dòng dữ liệu
      {{ objName }} không?
    </h5>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger m-2" type="submit" (click)="activeModal.close()">
    <i class="fas fa-backspace"></i>
    Xóa
  </button>
  <button class="btn btn-warning" type="button" (click)="activeModal.dismiss()">
    <i class="fas fa-chevron-left"></i> Quay về
  </button>
</div>