<div class="container-fluid p-0 m-0">
  <div class="col pl-2 mt-2">
    <h1 class="h3 title-from">
      <i class="fas fa-list"></i> Danh sách điểm danh {{ objName }}
    </h1>
  </div>
  <div class="col pl-2 pr-0">
    <div class="card-header1">
      <app-toolbar [dataSource]="btnSource" (btnClick)="setFormAction($event)"></app-toolbar>
    </div>
  </div>
  <div class="col p-0 m-0" style="max-height: calc(100vh - 150px); overflow-y: scroll; ">
    <div class="col m-0 pl-2 pr-0">
      <div class="card m-0 px-1" style="min-height: calc(100vh - 195px); border-radius: 0 0 .25rem .25rem ; ">
        <div class="collapse pt-2" id="collapseSearch">
          <div class="border-bottom">
            <div class="row mb-2 align-items-end" style="margin: 0px">
              <ng-container *ngFor="let column of columns">
                <div *ngIf="column.isSearchField" class="col-xl-3 col-sm-6">
                  <div class="form-group text-left m-0">
                    <label [for]="column.name">{{ column.text }}</label>
                    <input type="text" class="form-control" [(ngModel)]="searchObj[column.name]"
                      (keydown.enter)="search()" />
                  </div>
                </div>
              </ng-container>
              <div class="col-auto">
                <button class="btn btn-sm btn-primary" (click)="search()">
                  <i class="fas fa-search"></i>
                  Tìm
                </button>
              </div>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th style="width: 35px">
                <input class="form-check-input position-static ml-0" id="all-checkbox" type="checkbox"
                  (change)="checkAll($event.currentTarget.checked)" />
              </th>
              <th class="d-none d-sm-table-cell text-center" style="width: 50px">
                STT
              </th>
              <ng-container *ngFor="let column of columns">
                <th *ngIf="column.class" [style]="
                      (column.style ? column.style : '') +
                      'cursor: pointer; user-select: none'
                    " [class]="column.class ? column.class : ''" (click)="changeSort(column.name)">
                  {{ column.text }}
                  <ng-container *ngIf="sortField == column.name">
                    <i *ngIf="sortOrder == 'asc'" class="fas fa-arrow-up"></i>
                    <i *ngIf="sortOrder == 'desc'" class="fas fa-arrow-down"></i>
                  </ng-container>
                </th>
              </ng-container>
              <th style="width: 75px"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of dsObj; let i = index" (click)="selectRow($event.currentTarget, obj)">
              <td class="text-center">
                <input class="form-check-input position-static ml-0 checkbox" type="checkbox"
                  [(ngModel)]="obj.IsSelected" (change)="toggleHeaderCheckbox()" />
              </td>
              <td class="d-none d-sm-table-cell text-center">
                {{ i + 1 }}
              </td>
              <ng-container *ngFor="let column of columns">
                <ng-container *ngIf="column.class">
                  <td *ngIf="!column.name.includes('Ngay')" [class]="column.class ? column.class : ''"
                    [style]="column.style ? column.style : ''">
                    {{ obj[column.name] }}
                  </td>
                  <td *ngIf="column.name.includes('Ngay')" [class]="column.class ? column.class : ''"
                    [style]="column.style ? column.style : ''">
                    {{ obj[column.name] | date: "dd-MM-yyyy HH:mm:ss" }}
                  </td>
                </ng-container>
              </ng-container>
              <td class="text-right" style="padding-left: 2px; padding-right: 2px">
                <button class="btn btn-sm btn-outline-primary mr-1" (click)="setFormAction('det', obj)">
                  <i class="fas fa-search"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <app-footerview></app-footerview>
  </div>
</div>

<ng-template #formModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-info align-middle">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="12" y1="16" x2="12" y2="12"></line>
        <line x1="12" y1="8" x2="12.01" y2="8"></line>
      </svg>
      {{ modalHeadings[action] }}
    </h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <div class="container-fluid p-0">
      <div class="row justify-content-center">
        <div class="row">
          <div class="col-12 p-0">
            <div class="row">
              <div class="col-lg-12 form-group mb-2">
                <label>
                  Tên nhân viên
                  <span *ngIf="action == 'add' || action == 'upd'" class="text-danger">*</span>
                </label>
                <input [disabled]="action == 'det'" class="form-control" type="text" name="name" [(ngModel)]="obj.name"
                  #name="ngModel" required maxlength="250" [ngClass]="{
                    'is-invalid':
                      name.invalid &&
                      (name.dirty || name.touched),
                    'is-valid':
                      !name.invalid &&
                      (name.dirty || name.touched)
                  }" />
              </div>
              <div class="col-lg-6 form-group mb-2">
                <label>
                  Giới tính nhân viên
                  <span *ngIf="action == 'add' || action == 'upd'" class="text-danger">*</span>
                </label>
                <select [disabled]="action == 'det'" class="form-control" type="text" name="gender"
                  [(ngModel)]="obj.gender" #gender="ngModel" required maxlength="250" [ngClass]="{
                    'is-invalid':
                      gender.invalid &&
                      (gender.dirty || gender.touched),
                    'is-valid':
                      !gender.invalid &&
                      (gender.dirty || gender.touched)
                  }">
                  <option>Nam</option>
                  <option>Nữ</option>
                  <option>Khác</option>
                </select>
              </div>
              <div class="col-lg-6 form-group mb-2">
                <label>
                  Số điện thoại
                  <span *ngIf="action == 'add' || action == 'upd'" class="text-danger">*</span>
                </label>
                <input [disabled]="action == 'det'" class="form-control" type="text" name="phone"
                  [(ngModel)]="obj.phone" #phone="ngModel" required maxlength="250" [ngClass]="{
                    'is-invalid':
                      phone.invalid &&
                      (phone.dirty || phone.touched),
                    'is-valid':
                      !phone.invalid &&
                      (phone.dirty || phone.touched)
                  }" />
              </div>
              <div class="col-lg-12 form-group mb-2">
                <label>
                  Thành phố
                  <span *ngIf="action == 'add' || action == 'upd'" class="text-danger">*</span>
                </label>
                <input [disabled]="action == 'det'" class="form-control" type="text" name="city" [(ngModel)]="obj.city"
                  #city="ngModel" required maxlength="250" [ngClass]="{
                    'is-invalid':
                      city.invalid &&
                      (city.dirty || city.touched),
                    'is-valid':
                      !city.invalid &&
                      (city.dirty || city.touched)
                  }" />
              </div>
              <div class="col-lg-6 form-group mb-2">
                <label>
                  Trạng thái
                  <span *ngIf="action == 'add' || action == 'upd'" class="text-danger">*</span>
                </label>
                <select [disabled]="action == 'det'" class="form-control" type="text" name="status"
                  [(ngModel)]="obj.status" #status="ngModel" required maxlength="250" [ngClass]="{
                    'is-invalid':
                    status.invalid &&
                      (status.dirty || status.touched),
                    'is-valid':
                      !status.invalid &&
                      (status.dirty || status.touched)
                  }">
                  <option>O</option>
                  <option>X</option>
                </select>
              </div>
              <div class="col-lg-6 form-group mb-2">
                <label>
                  Tag ID
                  <span *ngIf="action == 'add' || action == 'upd'" class="text-danger">*</span>
                </label>
                <input [disabled]="action == 'det'" class="form-control" type="text" name="tagID"
                  [(ngModel)]="obj.tagID" #tagID="ngModel" required maxlength="250" [ngClass]="{
                    'is-invalid':
                      tagID.invalid &&
                      (tagID.dirty || tagID.touched),
                    'is-valid':
                      !tagID.invalid &&
                      (tagID.dirty || tagID.touched)
                  }" />
              </div>
              <div class="col-lg-12 form-group mb-2">
                <label>
                  image URL
                  <span *ngIf="action == 'add' || action == 'upd'" class="text-danger">*</span>
                </label>
                <input [disabled]="action == 'det'" class="form-control" type="text" name="imageURL"
                  [(ngModel)]="obj.imageURL" #imageURL="ngModel" required maxlength="250" [ngClass]="{
                    'is-invalid':
                      imageURL.invalid &&
                      (imageURL.dirty || imageURL.touched),
                    'is-valid':
                      !imageURL.invalid &&
                      (imageURL.dirty || imageURL.touched)
                  }" />
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-between m-0 p-0">
          <div class="col-auto"></div>
          <div class="col-auto p-0">
            <button *ngIf="action != 'det'" class="btn btn-primary m-2" type="submit"
              (click)="action == 'add' ? add() : update()">
              <i class="fas fa-save"></i> Ghi nhận
            </button>
            <button class="btn btn-warning" type="button" (click)="modal.dismiss()">
              <i class="fas fa-chevron-left"></i> Quay về
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #formModalView let-modal>
  <div class="modal-header">
    <h5 class="modal-title">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-info align-middle">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="12" y1="16" x2="12" y2="12"></line>
        <line x1="12" y1="8" x2="12.01" y2="8"></line>
      </svg>
      {{ modalHeadings[action] }}
    </h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <div class="container-fluid p-0">
      <div class="row justify-content-center">
        <div class="row">
          <div class="col-xl-4 col-lg-4">
            <div class="chinhAnh">
              <button class="Button-view">
                <span class="Button-inner-view">
                  <img class="circle" src="../../assets/img/{{imageView}}" />
                </span>
                <span class="{{statusView}}-view">
                </span>
              </button>
              <div class="TrangThai-{{statusView}}">
                <label>
                  {{statusView}}
                </label>
              </div>
            </div>
          </div>
          <div class="col-xl-8 col-lg-8">
            <div class="row">
              <div class="col-lg-12 form-group mb-2">
                  <label>
                      Tên nhân viên
                      <span *ngIf="action == 'add' || action == 'upd'" class="text-danger">*</span>
                  </label>
                  <input [disabled]="action == 'det'" class="form-control" type="text" name="name"
                      [(ngModel)]="obj.name" #name="ngModel" required maxlength="250" [ngClass]="{
        'is-invalid':
          name.invalid &&
          (name.dirty || name.touched),
        'is-valid':
          !name.invalid &&
          (name.dirty || name.touched)
      }" />
              </div>
              <div class="col-lg-6 form-group mb-2">
                  <label>
                      Giới tính nhân viên
                      <span *ngIf="action == 'add' || action == 'upd'" class="text-danger">*</span>
                  </label>
                  <select [disabled]="action == 'det'" class="form-control" type="text" name="gender"
                      [(ngModel)]="obj.gender" #gender="ngModel" required maxlength="250" [ngClass]="{
        'is-invalid':
          gender.invalid &&
          (gender.dirty || gender.touched),
        'is-valid':
          !gender.invalid &&
          (gender.dirty || gender.touched)
      }">
                      <option>Nam</option>
                      <option>Nữ</option>
                      <option>Khác</option>
                  </select>
              </div>
              <div class="col-lg-6 form-group mb-2">
                  <label>
                      Số điện thoại
                      <span *ngIf="action == 'add' || action == 'upd'" class="text-danger">*</span>
                  </label>
                  <input [disabled]="action == 'det'" class="form-control" type="text" name="phone"
                      [(ngModel)]="obj.phone" #phone="ngModel" required maxlength="250" [ngClass]="{
        'is-invalid':
          phone.invalid &&
          (phone.dirty || phone.touched),
        'is-valid':
          !phone.invalid &&
          (phone.dirty || phone.touched)
      }" />
              </div>
              <div class="col-lg-12 form-group mb-2">
                  <label>
                      Thành phố
                      <span *ngIf="action == 'add' || action == 'upd'" class="text-danger">*</span>
                  </label>
                  <input [disabled]="action == 'det'" class="form-control" type="text" name="city"
                      [(ngModel)]="obj.city" #city="ngModel" required maxlength="250" [ngClass]="{
        'is-invalid':
          city.invalid &&
          (city.dirty || city.touched),
        'is-valid':
          !city.invalid &&
          (city.dirty || city.touched)
      }" />
              </div>
              <div class="col-lg-6 form-group mb-2">
                  <label>
                      Trạng thái
                      <span *ngIf="action == 'add' || action == 'upd'" class="text-danger">*</span>
                  </label>
                  <select [disabled]="action == 'det'" class="form-control" type="text" name="status"
                      [(ngModel)]="obj.status" #status="ngModel" required maxlength="250" [ngClass]="{
        'is-invalid':
        status.invalid &&
          (status.dirty || status.touched),
        'is-valid':
          !status.invalid &&
          (status.dirty || status.touched)
      }">
                      <option>O</option>
                      <option>X</option>
                  </select>
              </div>
              <div class="col-lg-6 form-group mb-2">
                  <label>
                      Tag ID
                      <span *ngIf="action == 'add' || action == 'upd'" class="text-danger">*</span>
                  </label>
                  <input [disabled]="action == 'det'" class="form-control" type="text" name="tagID"
                      [(ngModel)]="obj.tagID" #tagID="ngModel" required maxlength="250" [ngClass]="{
        'is-invalid':
          tagID.invalid &&
          (tagID.dirty || tagID.touched),
        'is-valid':
          !tagID.invalid &&
          (tagID.dirty || tagID.touched)
      }" />
              </div>
              <div class="col-lg-12 form-group mb-2">
                  <label>
                      image URL
                      <span *ngIf="action == 'add' || action == 'upd'" class="text-danger">*</span>
                  </label>
                  <input [disabled]="action == 'det'" class="form-control" type="text" name="imageURL"
                      [(ngModel)]="obj.imageURL" #imageURL="ngModel" required maxlength="250" [ngClass]="{
        'is-invalid':
          imageURL.invalid &&
          (imageURL.dirty || imageURL.touched),
        'is-valid':
          !imageURL.invalid &&
          (imageURL.dirty || imageURL.touched)
      }" />
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-between m-0 p-0">
          <div class="col-auto"></div>
          <div class="col-auto p-0">
            <button *ngIf="action != 'det'" class="btn btn-primary m-2" type="submit"
              (click)="action == 'add' ? add() : update()">
              <i class="fas fa-save"></i> Ghi nhận
            </button>
            <button class="btn btn-warning" type="button" (click)="modal.dismiss()">
              <i class="fas fa-chevron-left"></i> Quay về
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>