<div id="backgroud" style="height:calc(100%);">
    <div class="row" style="height:calc(100%);overflow-y:auto;">
        <div class="col-12 col-xl-12" style="height:calc(100%);">
            <div class="row" style="justify-content: center;">
                <div class="col-12 col-xl-4 col-md-6">
                    <div class="card cardwidget">
                        <img class="card-img-top" src="../../assets/img/photos/business-report.png" alt="Unsplash">
                        <div class="card-header">
                            <h2 class="title text-center" style="text-align: center;"><strong>Phần mềm hệ thống điểm danh nhân viên</strong></h2>
                            <h5 class="card-title mb-0" style="text-align: center;">Thông tin hệ thống</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Hệ thống điểm danh là hệ thống quản lý nhân sự được nhiều nhà quản lý lựa chọn sử dụng nhất hiện nay. Hỗ trợ việc điểm danh nhân viên một cách hiệu quả với tính chính xác cao. Hỗ trợ tính công, tính lương nhân viên hàng được chính xác, minh bạch hạn chế những nhầm lẫn và sai sót. Đây là hệ thống đắc lực cho nhà quản lý, giúp ích rất nhiều trong việc kiểm soát vừa tiết kiệm nhân lực vừa tiết kiệm thời gian.
                            </p>
                            <a href="hethong" class="card-link float-xl-right">Vào hệ thống <i class="align-middle mr-1" data-feather="fast-forward"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>